{% extends 'base.html.twig' %}

{% block title %}Momentum{% endblock %}


{% block body %}
    {% include 'navbar.html.twig' %}
    <link rel="/css/post.css" type="text/css" href="{{ asset('css/post.css') }}">
    <div class="container">
        <div class="row content-field">
            <div id="post-list" class="col-md-offset-1 col-md-7">
            </div>
            <div class ="col-sm-3">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading">
                        <div class="well-card">
                                    <div >
                                        <span class="glyphicon glyphicon-home icon-size-tree"></span> <strong> &nbspSajt opstine </strong>
                                       <a href="http://www.vracar.org.rs/"> Vracar</a>.
                                    </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag ">
                                <div class="text-center">
                                <button type="button" class="btn btn-warning btn-circle disabled"><i class="glyphicon glyphicon-pencil"></i></button>
                                    23
                                </div>
                                <div class="update-text"> <strong>Broj danas objavljenih problema </strong></div>
                        </div>


                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-circle disabled"><i class="glyphicon glyphicon-cog"></i></button>
                                    32
                                </div>
                                <div class="update-text"> <strong> Broj problema koji se rjesavaju</strong></div>
                            </div>


                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-circle disabled"><i class="glyphicon glyphicon-ok"></i></button>
                                    11
                                </div>
                                <div class="update-text"> <strong> Broj rjesenih problema</strong></div>
                            </div>


                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        window.currentRoute = '{{ app.request.attributes.get('_route') }}';
        window.postSource = '{{ path(postSource) }}';
        window.isGovernment = false;
        window.loginUser = -1;
        {% if app.user %}
            {% if 'ROLE_GOVERNMENT' in app.user.roles %}
        window.isGovernment = true;
            {% else %}
        window.loginUser = {{ app.user.id }};
            {% endif %}
        {% endif %}
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/dist/bundle.js"></script>
{% endblock %}