{% extends 'base.html.twig' %}

{% block title %}Momentum{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="row content-field">
            <div id="post-list" class="col-md-offset-1 col-md-7">
            </div>
            <div class ="col-sm-3">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading">
                        <div class="well-card">
                                    <div >
                                        <span class="glyphicon glyphicon-signal icon-size-tree"></span> <strong> &nbspSkupstina za</strong>
                                        1 dan.
                                    </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
                                <div class="update-text"> <strong>#886903 </strong>, je odbacen.&nbsp&nbsp<b class="time-timeline">18:25</b> </div>
                        </div>


                        </div>
                    </li>
                        <li class="list-group-item">
                            <div class="well-card">

                                <div class="update-nag">
                                    <div class="update-split update-succes"><i class="glyphicon glyphicon-cog"></i></div>
                                    <div class="update-text"> <strong> #886903</strong>, se razmatra.&nbsp&nbsp<b class="time-timeline">18:25</b> </div>
                                </div>


                            </div>
                        </li>
                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="update-split update-succes"><i class="glyphicon glyphicon-cog"></i></div>
                                <div class="update-text"> <strong> #886903</strong>, se razmatra. &nbsp&nbsp<b class="time-timeline">18:25</b></div>
                            </div>


                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-leaf"></i></div>
                                <div class="update-text "> <strong>#886903 </strong>, je rjesen. &nbsp&nbsp&nbsp&nbsp<b class="time-timeline ">18:25</b></div>
                            </div>


                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="well-card">

                            <div class="update-nag">
                                <div class="update-split "><i class="glyphicon glyphicon-cog"></i></div>
                                <div class="update-text"> <strong> #886903</strong>, se razmatra. &nbsp&nbsp<b class="time-timeline">18:25</b></div>
                            </div>


                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        window.currentRoute = '{{ app.request.attributes.get('_route') }}';
        window.postSource = '{{ path(postSource) }}';
        window.isGovernment = false;
        window.loginUser = -1;
        {% if app.user %}
            {% if 'ROLE_GOVERNMENT' in app.user.roles %}
        window.isGovernment = true;
            {% else %}
        window.loginUser = {{ app.user.id }};
            {% endif %}
        {% endif %}
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/dist/bundle.js"></script>
{% endblock %}