{% extends 'base.html.twig' %}

{% block title %}Momentum | Log In {% endblock %}

{% block stylesheets %}
    <link href="css/loginpage.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="images/logo/logo-green_blue2_1_nobg.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="{{ path('_login') }}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Username"  required autofocus>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me">Remember me</label>
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
            </form><!-- /form -->
            {% if error %}
            <div class="error-list">
                <small>{{ error.messageKey|trans(error.messageData, 'security') }}</small>
            </div>
            {% endif %}
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
            <a class="forgot-password" href="{{ path('_register') }}">
                I would like to register
            </a>
        </div><!-- /card-container -->
    </div>
    <br>
    <br>

    <br>
    <br>

    <br>
    <br>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>  
{% endblock %}