#logvia{
    font-family: sans-serif;
    color: #C0C0C0  ;

}
#logpic{
    height: 24px;
    padding-bottom: 0px;

}
#logo{
        height: 70px;
    }
    .nav-font{
        font-size: 18px;

    }
.main-post-text{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 14px;
	font-size: 17px;

}
.logvia{
    
    color: #C0C0C0  ;

}