body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    background: #FFF;
}

.section-nav {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #3fb0ac;
}

.well-card {
    background-color: rgb(255, 255, 255);
}

.well-card-right{
    padding: 0px;
}

.section-list {
    margin-bottom: 0em;
    margin-top: 0em;
    line-height: 2.2em;
}

#navigationBar {
    background: #173e43;
    border: 0px;
    margin-bottom: 0px;
}

.content-field {
    padding-top: 2em;
    background: #F5F8FA;
}

.section {
    margin-left: -5px;
    border-color: #FFF;
    border-bottom: 0px solid;
}

ul li.section {
    transition: all 0.15s ease-in-out 0s;
    padding-left: 0px;
    padding-right: 0px;
}

ul li.section:hover {
    border-bottom: 2px solid #FFF;
}

ul li.section a {
    font-size: 14px;    
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
}

ul li.section a:hover {
    color: #FFF;
    text-decoration: none;
}

ul li.section a::selection {
    color: #FFF;
    text-decoration: none;    
}

ul li.section a:hover {
    color: #FFF;
    text-decoration: none;    
}

ul li.active {
    border-bottom: 2px solid #FFF;  
}

ul li.active a {
    font-weight: bold;
}

.upvote-button:focus {
    text-decoration: none;
}

.upvote-button,
.upvote-button:hover,
.upvote-button:focus,
.upvote-button:active {
    color: #AAB8C2;
    outline: unset;
}

.upvote-button.voted,
.upvote-button.voted:hover,
.upvote-button.voted:focus,
.upvote-button.voted:active {
    color: #3fb0ac;
    outline: unset;
}

.upvote-button span {
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.list-group {
    border-radius: 3px;
}

.post-link {
    color: #AAB8C2;    
}

.post-link:hover {
    color: #3FB0AC;
}

.well-card .row div {
    padding: 5px 20px;
}

.date {
    color: #AAB8C2;
    font-weight: bold;
}

.list-group-item {
    padding: 8px 8px;    
}

.list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;    
}

.list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.vote-count {
    color: #AAB8C2;
    font-weight: bold;
}

textarea[name=main] {
    resize: none;
}

.vote-count small {
    font-weight: 300;
}

.lead-text {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
}

.post-field {
    background: rgba(192, 192, 192, .5);
}

.timeline-list {
    list-style-type: none;
}

.voted {
    color: #2ECC40;
}

.post-button {
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #DDD;
    color: #3fb0ac;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 14px;
    line-height: 1.42857;
    text-align: center;
    margin-top: 10px;
    margin-right: 15px;
    white-space: nowrap;
}

.form-control {
    border-radius: 3px !important;
}

.post-button:hover {
    background-color: #3fb0ac;
    border: 1px solid #3fb0ac;
    color: #FFF;    
}

.post-input {
    border-radius: 3px;
    border: 1px solid #DDD;
    padding: 6px 12px;
    line-height: 20px;
    display: block;
    word-wrap: break-word;
    min-height: 32px;
    margin-top: -32px;
}

.post-input-active {
    min-height: 92px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(0,132,180,0.25) !important;
}

.post-placeholder {
    padding: 6px 12px;
    line-height: 22px;
    color: #3fb0ac;
    height: 32px;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.post-button span.glyphicon {
    margin-right: 10px;
    font-size: 12px; 
}

* { 
    outline: unset;
}


/*body{
    margin-top:10px;
    background: #e0e0e0;
}*/

.update-nag{
    display: inline-block;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    height: 30px;
   /* -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);*/
   /* box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;*/
}

.update-nag:hover{
    cursor: pointer;
  /*  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);*/
}

.update-nag > .update-split{
    background: #337ab7;
    width: 33px;
    float: left;
    color: #fff!important;
    height: 100%;
    text-align: center;
}

.update-nag > .update-split > .glyphicon{
    position:relative;
    top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
    background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
    background: #d9534f!important;
}

.update-nag > .update-split.update-info{
    background: #5bc0de!important;
}

.update-nag > .update-text{
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
}

.icon-size-tree{
    font-size:37px;

}
.icon-size-tree:hover{
    cursor: pointer;
}
.time-timeline{
    font-size: 10px;
    font-style: italic;
    color: #b0b0b0;;
}